<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<nav>
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href="/">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin">Admin</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
		<div class="container">
			<div class="alert alert-primary" role="alert">
			  Registration Complete! <a href="/login">Login</a>
			</div>
		</div>
	</main>
</body>
</html>